@model MultiPlatfomPlatformGame.WebEditorASP.Models.Component

<div class="content body-container">
    <div class="row">

        <div class="col-md-12">
            <div id='header' class="content-container">
                <h2>Bienvenue sur le meilleur éditeur de bloc du monde.</h2>
            </div>
        </div>

        <div class="col-md-6">

            <div class="component-factory">
                <div class="content-container">
                    <h5 class="pb15 mb15">
                        Créer un composants
                    </h5>
                    <div class="">

                        <!--@using (Html.BeginForm("PostComponent", "Editor", FormMethod.Post, new { role = "form" , enctype = "multipart/form-data", id = "my_form" }))
                        {
                            <div class="form-group">
                                <label for="name">Name</label>
                                @Html.TextBoxFor(Model => Model.Name, new { id= "name", placeholder = "name" })
                            </div>
                        }-->


                        <!--<form role="form" id="my_form" method="post" action="@Url.Action("PostComponent","Editor")" enctype="multipart/form-data">-->
@using (Html.BeginForm("PostComponent", "Editor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input type="text" name="name" class="form-control" placeholder="nom" />
                            </div>

                            <div class="form-group">
                                <label for="img">File input</label>
                                <input type="file" name="TexturePath" />
                            </div>


foreach (var property in Model.Physics.GetType().GetProperties())
{
        <div class="form-control">
            <label>@property.Name</label>
            @Html.CheckBox(property.Name, property.GetValue(Model.Physics))
        </div>
}


                            <button type="submit" class="btn btn-primary">Envoyer</button>
}
                       <!-- </form>-->
                    </div>
                </div>
            </div>

            <div class="tool-box">
                <div class="content-container">
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <h5 class="mb15 pb15 f20px">Tools box</h5>
                            <ul class="component-container" id="block-list">
                                @foreach (MultiPlatfomPlatformGame.WebEditorASP.Models.Component item in ViewBag.components)
                                {
                                    <li data-comp-id="@item.Id">
                                        <img src="@Url.Content("~/Content" + item.TexturePath)" height="40px">
                                        @item.Name.ToString()

                                        <div class="comp-property">
                                            @foreach (var property in item.Physics.GetType().GetProperties())
                                            {
                                                <p>
                                                    <span>@property.Name : </span> @property.GetValue(item.Physics, null)
                                                </p>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <div class="comp-property-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 work-space">
            <div class="content-container">
                <h5 class="pb15 mb15">
                    Workspace<br />
                    <input type="text" class="form-control" placeholder="Nom de mon bloc">
                    <button id="dl-block" class="btn btn-default" disabled>Récupérer le block</button>
                </h5>
                <div class="block-factory">
                </div>
            </div>
        </div>

        
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/script-editor.js")"
            id="core-script" ;
            data-post-block-url="@Url.Action("PersistJson", "Editor").ToString()"
            data-default-json="@ViewBag.components[0].Serialize()"
            data-default-src="@Url.Content("~/Content" + ViewBag.components[0].TexturePath).ToString()">
    </script>
}