<!DOCTYPE HTML>
<html>
   <head>
       <meta charset="utf-8">
       <title>Component Editor</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
       <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
   </head>
   <body>
	<div class="content body-container">
		<div class="row">
			<div class="col-md-12">
				<div id='header' class="content-container">
					<h2>Bienvenue sur le meilleur éditeur de bloc du monde.</h2>
				</div>
			</div>
			<div class="col-md-6 tool-box">
				<div class="content-container">
					<div class="row">
						<div class="col-md-6 border-right">
							<h5 class="mb15 pb15 f20px">Tools box</h5>
							<ul class="component-container" id="block-list">
			                    {% for c in components %}
			                    	<li data-comp="{{ c.serialize()}}" >
			                        	<img src="{{ asset(c.TexturePath)}}" height="40px">
			                        	{{ c.name }}
			                        	<div class="comp-property">
						                    {% for key,value in c.physics%}
						                    <p>
						                        <span> {{ key }} : </span>
						                        {% if value == true %}
						                        	oui
					                        	{% else %}
					                        		non
						                        {% endif %}
						                    </p>
						                    {% endfor %}
			                        	</div>
			                    	</li>
			                    {% endfor %}
							</ul>
						</div>
						<div class="col-md-6">
							<div class="comp-property-container">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 work-space">
				<div class="content-container">
					<h5 class="pb15 mb15">
						Workspace
						<input type="text" class="form-control" placeholder="Nom de mon bloc">
						<button id="dl-block" class="btn btn-default" disabled>Récupérer le block</button>
					</h5>
					<div class="block-factory">
					</div>
					<div class="json-block-holder">
						<textarea rows="2"></textarea>
					</div>
				</div>
			</div>

			<div class="col-md-6 component-factory">
				<div class="content-container">
					<h5 class="pb15 mb15">
						Créer un composants
					</h5>
					<div class="">
						<form id="my_form" method="post" action="{{ path('editor_save_component') }}" enctype="multipart/form-data">
							<div class="form-group">
								<label for="name">Nom</label>
								<input id="inputName" type="text" name="name" class="form-control" placeholder="nom">
							</div>
							<div class="form-group">
								<label for="img">File input</label>
								<input id="inputFile" type="file" name="img">
							</div>
							<div class="physics-box">
							</div>
						    <button type="submit">OK</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


   <footer>
       <script src="{{ asset('/js/jquery-2.2.0.min.js') }}"></script>
       <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
       <script src="{{ asset('/js/script.js') }}"
           id="core-script"
           data-post-block-url="{{ path('editor_persist_json') }}"
           data-post-comp-url="{{ path('editor_save_component') }}"
           data-default-json =" {{components[0].serialize()}}"
           data-default-src ="{{components[0].TexturePath}}"
           >
       </script>
   </footer>
</body>
</html>
